streamlit
openai
matplotlib
plotly
scipy
scikit-learn
pandas
transformers
redis
python-dotenv
requests
tiktoken
langchain
beautifulsoup4
streamlit-chat
fake-useragent
chardet
Tabulate
chromadb
pypdf
pymupdf
cryptography>=3.1
python-pptx
nltk
fastapi
uvicorn
llama-index